apiVersion: v1
kind: ConfigMap
metadata:
  name: app_3-env
  namespace: group_name_2-{{ env }}
data:
  TZ: "Europe/Moscow"
  CARD_SALT: {{ OFFLINE.CARD_SALT }}
  DB_HOST: {{ OFFLINE.DB_HOST }}
  DB_NAME: {{ OFFLINE.DB_NAME }}
  DB_PASSWORD: {{ OFFLINE.DB_PASSWORD }}
  DB_PORT: '{{ OFFLINE.DB_PORT }}'
  DB_USER: {{ OFFLINE.DB_USER }}
  RABBITMQ_HOST: {{ OFFLINE.RABBITMQ_HOST }}
  RABBITMQ_PASSWORD: {{ OFFLINE.RABBITMQ_PASSWORD }}
  RABBITMQ_USER: {{ OFFLINE.RABBITMQ_USER }}
  RABBITMQ_QUEUE_ORDERS_INDEXER: {{ OFFLINE.RABBITMQ_QUEUE_ORDERS_INDEXER }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: group_name_2-{{ env }}
  name: app_3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app_3
  template:
    metadata:
      labels:
        app: app_3
    spec:
      containers:
      - name: app_3
        envFrom:
        - configMapRef:
            name: app_3-env
        image: {{ image_digest }}
      imagePullSecrets:
      - name: registry-credentials
