apiVersion: v1
kind: ConfigMap
metadata:
  name: app_5-env
  namespace: group_name_3-{{ env }}
data:
  TZ: "Europe/Moscow"
  GROUP_NAME_3_ENV: {{ env }}
  GROUP_NAME_3_AMQP_QUEUE_PUSH_GATE: {{ GROUP_NAME_3_AMQP_QUEUE_PUSH_GATE }}
  GROUP_NAME_3_AMQP_QUEUE_CASH_GATE: {{ GROUP_NAME_3_AMQP_QUEUE_CASH_GATE }}
  GROUP_NAME_3_AMQP_QUEUE_CASH_QUEUE: {{ GROUP_NAME_3_AMQP_QUEUE_CASH_QUEUE }}
  GROUP_NAME_3_AMQP_QUEUE_NOTIFICATION_GATE: {{ GROUP_NAME_3_AMQP_QUEUE_NOTIFICATION_GATE }}
  GROUP_NAME_3_DOMAIN: {{ GROUP_NAME_3_DOMAIN }}
  GROUP_NAME_3_PG_HOST: {{ GROUP_NAME_3_PG_HOST }}
  GROUP_NAME_3_PG_USER: {{ GROUP_NAME_3_PG_USER }}
  GROUP_NAME_3_PG_PORT: "{{ GROUP_NAME_3_PG_PORT }}"
  GROUP_NAME_3_PG_DBNAME: {{ GROUP_NAME_3_PG_DBNAME }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: group_name_3-{{ env }}
  name: app_5
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app_5
  template:
    metadata:
      labels:
        app: app_5 
    spec:
      volumes:
      - configMap:
          name: app_5-config
        name: app_5-config
      containers:
      - name: app_5
        envFrom:
        - configMapRef:
            name: app_5-env
        env:
        - name: GROUP_NAME_3_PG_PASS
          valueFrom:
            secretKeyRef:
              name: credentials
              key: GROUP_NAME_3_PG_PASS
        - name: GROUP_NAME_3_AMQP_CONNECTION
          valueFrom:
            secretKeyRef:
              name: credentials
              key: GROUP_NAME_3_AMQP_CONNECTION
        image: {{ image_digest }}
        volumeMounts:
        - name: online-cert
          mountPath: "/app/check_online.cert.pem"
          subPath: "check_online.cert.pem"
          readOnly: true
        - name: online-key
          mountPath: "/app/check_online.key.pem"
          subPath: "check_online.key.pem"
          readOnly: true
        resources:
          limits:
            memory: "768Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "100m"
      volumes:
      - name: online-cert
        secret:
          secretName: credentials
          items:
          - key: CHECKONLINE_CERT
            path: check_online.cert.pem
      - name: online-key
        secret:
          secretName: credentials
          items:
          - key: CHECKONLINE_KEY
            path: check_online.key.pem
      imagePullSecrets:
      - name: registry-credentials
