apiVersion: v1
kind: Secret
metadata:
  name: credentials
  namespace: group_name_2-{{ env }}
type: Opaque
data:
  GROUP_NAME_2.PG_PASS: {{ GROUP_NAME_2.PG_PASS }}
  GROUP_NAME_2.AMQP_PASS: {{ GROUP_NAME_2.AMQP_PASS }}
  GROUP_NAME_2.RABBITMQ_PASSWORD: {{ GROUP_NAME_2.RABBITMQ_PASSWORD }}
  GROUP_NAME_2.s_server_integration.DB_PASSWORD: {{ GROUP_NAME_2.s_server_integration.DB_PASSWORD }}
  GROUP_NAME_2.s_server_sync.DB_PASSWORD: {{ GROUP_NAME_2.s_server_sync.DB_PASSWORD }}
