apiVersion: v1
kind: Secret
metadata:
  name: credentials
  namespace: group_name_1-{{ env }}
type: Opaque
data:
  AMQP_ADDRESS: {{ GROUP_NAME_1.AMQP_ADDRESS }}
  GROUP_NAME_1.DB_CRED.orders_PASS: {{ GROUP_NAME_1.DB_CRED.orders_PASS }}
  GROUP_NAME_1.DB_CRED.partners_PASS: {{ GROUP_NAME_1.DB_CRED.partners_PASS }}
  GROUP_NAME_1.DB_CRED.stations_PASS: {{ GROUP_NAME_1.DB_CRED.stations_PASS }}
  GROUP_NAME_1.DB_CRED.taxi_PASS: {{ GROUP_NAME_1.DB_CRED.taxi_PASS }}
  GROUP_NAME_1.DB_CRED.users_PASS: {{ GROUP_NAME_1.DB_CRED.users_PASS }}
