apiVersion: v1
kind: ConfigMap
metadata:
  name: app_2-env
  namespace: group_name_2-{{ env }}
data:
  TZ: "Europe/Moscow"
  CARD_SALT: {{ OFFLINE.CARD_SALT }}
  DB_HOST: {{ OFFLINE.DB_HOST }}
  DB_NAME: {{ OFFLINE.DB_NAME }}
  DB_PASSWORD: {{ OFFLINE.DB_PASSWORD }}
  DB_PORT: '{{ OFFLINE.DB_PORT }}'
  DB_USER: {{ OFFLINE.DB_USER }}
  RABBITMQ_HOST: {{ OFFLINE.RABBITMQ_HOST }}
  RABBITMQ_PASSWORD: {{ OFFLINE.RABBITMQ_PASSWORD }}
  RABBITMQ_USER: {{ OFFLINE.RABBITMQ_USER }}
---
kind: Service
apiVersion: v1
metadata:
  name: app_2
  namespace: group_name_2-{{ env }}
spec:
  selector:
    app: app_2
  ports:
  - nodePort: 30017
    port: 3000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: group_name_2-{{ env }}
  name: app_2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app_2
  template:
    metadata:
      labels:
        app: app_2
    spec:
      containers:
      - name: app_2
        envFrom:
        - configMapRef:
            name: app_2-env
        image: {{ image_digest }}
        ports:
          - containerPort: 3000
            protocol: TCP
      imagePullSecrets:
      - name: registry-credentials
